---
- name: nodejs | check if node binary exists
  ansible.builtin.stat:
    path: /usr/bin/node
  register: node_binary

- name: nodejs | remove ubuntu nodejs
  ansible.builtin.apt:
    name:
      - nodejs
      - npm
      - libnode-dev
    state: absent
    purge: yes
  when: not node_binary.stat.exists

- name: nodejs | download nodesource apt signing key
  ansible.builtin.get_url:
    url: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
    dest: /usr/share/keyrings/nodesource.asc
    mode: "0644"
  when: not node_binary.stat.exists

- name: nodejs | add nodesource apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/nodesource.asc] https://deb.nodesource.com/node_22.x nodistro main"
    filename: nodesource
    state: present
  when: not node_binary.stat.exists

- name: nodejs | install nodejs
  ansible.builtin.apt:
    name:
      - nodejs
    state: present
    update_cache: yes
  when: not node_binary.stat.exists
