#SPDX-License-Identifier: MIT-0
---
- name: yubikey | install packages
  ansible.builtin.apt:
    name:
      - cryptsetup
      - dirmngr
      - gnupg-agent
      - gnupg2
      - hopenpgp-tools
      - libpcsclite-dev
      - libssl-dev
      - pcscd
      - scdaemon
      - secure-delete
      - swig
      - wget
      - yubikey-personalization
    state: present

- name: yubikey | create gnupg directory
  ansible.builtin.file:
    path: "{{ home }}/.gnupg"
    owner: "{{ user }}"
    group: "{{ group }}"
    mode: "0700"
    state: directory

- name: yubikey | deploy gpg-agent config
  ansible.builtin.template:
    src: "yubikey/gpg-agent.conf.j2"
    dest: "{{ home }}/.gnupg/gpg-agent.conf"
    owner: "{{ user }}"
    group: "{{ group }}"
    mode: "0400"
