# {{ ansible_managed }}
if [[ $- != *i* ]] ; then
    return
fi

# Fix ghostty terminal
if [[ "$TERM" == "xterm-ghostty" ]]; then
  export TERM=xterm-256color
fi

for file in exports bash_aliases dockerfunc; do
    [ -f "$HOME/.$file" ] && source "$HOME/.$file"
done
unset file

# python
export PYTHONWARNINGS=once

# local bin
export PATH="$HOME/.local/bin:$HOME/.cargo/bin:$PATH"

# commitizen
alias cz="$HOME/system-venv/cz/bin/cz"

# lamactl
alias lamactl="$HOME/system-venv/lamactl/bin/lamactl"

# oh-my-posh prompt
eval "$(oh-my-posh init bash --config ~/.config/ohmyposh.omp.json)"

# mssql-tools
export PATH="$PATH:/opt/mssql-tools18/bin"

# mise
eval "$(mise activate bash)"
