# {{ ansible_managed }}

alias ssh='TERM=xterm-256color ssh'

# exa/eza
alias ls='eza'
alias ll='eza -l'
alias la='eza -la'
alias tree='eza --tree --level=2 --icons'

# bat
alias cat='batcat'
alias more='batcat'
