# {{ ansible_managed }}
*.dll
*.dylib
*.exe
*.exe~
*.orig
*.out
*.pyc
*.ropeproject
*.so
*.swo
*.swp
*.test

# python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/

# environments
.env
.venv
env/
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ide
.idea/
.vscode/
