# {{ ansible_managed }}
//gitlab.numberly.in/:_authToken={{ gitlab_api_token }}
//gitlab.numberly.in/api/v4/:_authToken={{ gitlab_api_token }}
//gitlab.numberly.in/api/v4/packages/npm/:_authToken={{ gitlab_api_token }}
