# {{ ansible_managed }}
# https://ghostty.org/docs/config

font-family = JetBrainsMono Nerd Font
font-size = 12
theme = Catppuccin Mocha
window-padding-x = 10
window-padding-y = 10
window-decoration = false
cursor-style = block
cursor-style-blink = false
shell-integration = none
