# {{ ansible_managed }}

general {
    colors = true
    color_good = "#859900"
    color_degraded = "#cb4b16"
    color_bad = "#dc322f"
    color_separator = "#586e75"
    interval = 5
    output_format = "i3bar"
}

order += "bluetooth"
order += "xrandr"
order += "battery 0"

bluetooth {
    format = "BT: {format_device}"
    format_device = "{name}"
}

xrandr {
    cache_timeout = 5
    fallback = true
    force_on_change = ["DP1", "eDP1"]
}
